main{
    background-color: black;
    /* height: 100vh; */
}
nav{
    height: 100vh;
    position: fixed;
    left: 0;
    /* top: 100%; */
    bottom: 0;
    background-color: black;
    z-index: 9999;
}
nav ul li {
    width: 210px;
    line-height: 2.5;
    cursor: pointer;
}
section{
    /* height: 100vh; */
}
body{
    overflow: hidden;
}
.openCloseNav i{
    cursor:  pointer;
}
.loading{
    z-index: 99999;
    background: black;
    color: white;
    display: none;
    display: flex;
}
.img{
    overflow: hidden;
}
.img .layer{
    top: 100%;
    transition: all 0.8s;
    background: #f9f6f6ca;
}
.img:hover .layer{
    top: 0;
}
.detailsData{
    background-color: black;
    /* height: 100vh; */

}
.Recipes li{
    background-color: #CFF4FC;
}
.tags li{
    background-color: #F8D7DA;
}
.mainMeals button a{
    text-decoration: none;
    color: white;
}
body{
    background-color: black;
}
.Area{
    cursor: pointer;
}
.Search input::placeholder{
    color: rgb(172, 172, 172);
}